/*
*
    作者：张三
    创建日期：2019-5-08 09:37:55
    修改日期：2019-5-08 09:38:00
    项目地址：http://www.baidu.com
    版本号：ver 1.0
*
*/

body {
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Arial
}


/*清空浏览器的默认样式*/

div,
p,
ul,
ol,
li,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dl,
form,
input,
textarea,
blockquote,
th,
td {
    padding: 0;
    margin: 0
}


/*cursor鼠标光标
        cursor:pointer 手的形状;
               default 默认：箭头
                text  可输入，大I
        */

label {
    cursor: pointer
}

button,
input {
    outline: none;
    border: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400
}

ul,
ol {
    list-style: none
}

em,
i {
    font-style: normal
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    /* text-decoration:none; */
}


/*告诉部分浏览器不要给图片添加边框*/

img {
    border: none
}

table,
th,
td {
    border-collapse: collapse;
    border-spacing: 0
}


/*文本处理与对齐方式*/

.tc {
    text-align: center
}

.tl {
    text-align: left
}

.txj {
    text-align: justify;
    color: gray
}

.tr {
    text-align: right
}

.fb {
    font-weight: bold
}

.block {
    display: block;
}


/*将超出宽度的文字截字并用省略号表示*/

.cutFont {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*颜色*/

.line24 {
    line-height: 24px
}

.cor666 {
    color: #666666
}

.cor000 {
    color: #000
}

.blue,
a.blue {
    color: #157ff6
}

.brown {
    color: #666
}

.gray {
    color: #999
}

.green {
    color: #2d9b01
}

.orange {
    color: #ff6400
}

.red {
    color: #f00!important
}

.white,
a.white {
    color: #fff
}


/*字体大小*/

.fontw700 {
    font-weight: 700;
}

.font11 {
    font-size: 11px
}

.font12 {
    font-size: 12px
}

.font14 {
    font-size: 14px
}

.font16 {
    font-size: 16px
}

.font17 {
    font-size: 17px
}

.font18 {
    font-size: 18px
}

.font20 {
    font-size: 20px
}

.font22 {
    font-size: 22px;
}

.font21 {
    font-size: 21px;
}

.font24 {
    font-size: 24px;
}

.font25 {
    font-size: 25px
}

.font30 {
    font-size: 30px
}


/*浮动公共样式*/

.fl {
    float: left
}

.fr {
    float: right
}

.cl {
    clear: both
}


/*外间距公共样式*/

.mt5 {
    margin-top: 5px
}

.mt4 {
    margin-top: 4px
}

.mt7 {
    margin-top: 7px
}

.mt10 {
    margin-top: 10px
}

.mt12 {
    margin-top: 12px
}

.mt13 {
    margin-top: 13px
}

.mt15 {
    margin-top: 15px
}

.mt17 {
    margin-top: 17px
}

.mt18 {
    margin-top: 18px
}

.mt20 {
    margin-top: 20px
}

.mt22 {
    margin-top: 22px
}

.mt25 {
    margin-top: 25px
}

.mt28 {
    margin-top: 28px
}

.mt30 {
    margin-top: 30px
}

.mt35 {
    margin-top: 35px
}

.mt37 {
    margin-top: 37px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt70 {
    margin-top: 70px
}

.mt100 {
    margin-top: 100px
}

.mb5 {
    margin-bottom: 5px
}

.mb8 {
    margin-bottom: 8px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

#mt20 {
    margin-top: 20px
}

.mb22 {
    margin-bottom: 22px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.mb35 {
    margin-bottom: 35px
}

.mb37 {
    margin-bottom: 37px
}

.mb48 {
    margin-bottom: 48px
}

.mb55 {
    margin-bottom: 55px
}

.mr1 {
    margin-right: 1px
}

.mr5 {
    margin-right: 5px
}

.mr3 {
    margin-right: 2.5px
}

.mr4 {
    margin-right: 4px
}

.mr7 {
    margin-right: 7px
}

.mr8 {
    margin-right: 8px
}

.mr9 {
    margin-right: 9px
}

.mr10 {
    margin-right: 10px
}

.mr14 {
    margin-right: 14px
}

.mr11 {
    margin-right: 11px
}

.mr12 {
    margin-right: 12px
}

.mr15 {
    margin-right: 15px
}

.mr17 {
    margin-right: 17px
}

.mr20 {
    margin-right: 20px
}

.mr21 {
    margin-right: 21px;
}

.mr24 {
    margin-right: 24px
}

.mr16 {
    margin-right: 16px
}

.mr25 {
    margin-right: 25px
}

.mr27 {
    margin-right: 27px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr43 {
    margin-right: 43px
}

.mr36 {
    margin-right: 36px
}

.mr57 {
    margin-right: 57px
}

.mr65 {
    margin-right: 65px
}

.mr70 {
    margin-right: 70px
}

.mr87 {
    margin-right: 87px;
}

.mr98 {
    margin-right: 98px;
}

.ml25 {
    margin-left: 25px
}

.ml5 {
    margin-left: 5px
}

.ml4 {
    margin-left: 4px
}

.ml8 {
    margin-left: 8px
}

.ml9 {
    margin-left: 9px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml17 {
    margin-left: 17px
}

.ml20 {
    margin-left: 20px
}

.ml24 {
    margin-left: 24px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.ml155 {
    margin-left: 155px;
}

.ml57 {
    margin-left: 57px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pb5 {
    padding-bottom: 5px
}

.pb20 {
    padding-bottom: 20px
}


/*清除浮动公共样式*/

.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}


/*显示方式与定位*/

.poab {
    position: absolute;
}

.posir {
    position: relative;
}

.block {
    display: inline-block;
}

.none {
    display: none;
}

.bnone {
    border: none
}


/*页面布局*/

.wt985 {
    width: 985px;
    margin: 0px auto
}

.at {
    margin: 0px auto
}

.w220 {
    width: 220px
}

.layout {
    width: 100%;
}


/*背景样式*/

.bgcolor {
    background-color: #f5f5f5;
}

.bgwhite {
    background-color: #ffffff;
}

.bgGray {
    background-color: #f2f2f2
}

.bgRed {
    background-color: red;
}


/* 雪碧图 */

#fff {
    color: #fff
}

.orange {
    color: orange
}

.corf50 {
    color: #F5004B
}

.color333 {
    color: #333;
}

.color029 {
    color: #029cfe
}

.cor7b {
    color: #7b7b7b;
}

.color8c {
    color: #8c8c8c
}

.color72 {
    color: #727272
}

.color006 {
    color: #006dd2
}

.colorff5 {
    color: #ff5a00!important
}