/* 导航栏 */
.head{
    height:76px;
}
.head img{
    top:12px
}
.nav ul li{
    float: left;
    width:64px;
    font-size:24px;
    height:60px;
    line-height: 60px;
    margin-left: 40px;
    text-align: center;
    padding-top:10px;
    cursor: pointer;
    border-bottom:3px solid rgba(0, 0, 0, 0)
}
.navLi{
    border-bottom:3px solid #ff6600!important
}


/* 广告 */
.banner{
    width:100%;
}

/* 下载 */
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse:hover{
    animation: pulse 1s;
  }
  
.download{
    padding-top:40px;
    height:140px
}
.download_box{
    width:100px;
    height:100px;
    text-align: center;
}
.pc img{
    left:18px
}
.dian{
    top: -9px;
    left:-6px!important;
}
.diann{
    top: 13px;
}
.com{
    bottom:12px
}
.pad{
    top: -9px;
    left:-6px!important;
}
.t{
    top:-13px
}
.wp{
    top:3px
}
.ts{
    top:-8px
}
.tv{
    top:10px
}
.wp{
    left:8px!important;
}
.sao{
    bottom:73px;
    position: absolute;
    right:0
}
/* 活动专区 */
.b{
    border-top:1px solid #ededed;
    width:100%;
}
.huodong{
    width:290px;
}
.huodong header{
    height:70px;
    line-height:70px;
}
.more{
    top:3px
}
.huobox{
    height:310px
}
.meiy{
    background-color: #f2f2f2;
    height:36px;
    line-height: 36px;
    text-align: center;
    bottom:10px;
    color:#606060
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
.bounce{
    cursor: pointer;
}
.huodong:hover .bounce{
    animation:bounce 1s;
}
  
.huoi{
    overflow: hidden;
    width:290px;
    height:120px
}
.huoi img{
    transition: all 1s linear;
}
.huoi img:hover{
    transform:scale(1.5);
}
.huobox ul{
    line-height: 30px;
}
.huobox ul>li>a{
    color:#404040
}
.huobox ul>li>a:hover{
    color:#ff6600
}
/* 下载页样式 */
.domland{
    width:100%;
    box-shadow: #d5d5d5  0px 6px 0px 0px inset;
    background-color: #f2f2f2;
}
.dom_header{
    height:50px;
    line-height: 50px;
}
.dom_header a{
    font-size: 14px;
    color:#404040;
}
.remen{
    width:925px;
    height: 220px;
    padding:18px 40px 35px 25px;
    background-color: #fff;
}
.remen p{
    font-size: 18px;
    color:#404040;
    font-weight: 700;
}
.java{
    border-top:1px solid #e0e0e0;
    height:15px;
    padding:30px 0px 0px 22px
}
.java li{
    float: left;
    color:#dbdbdb
}
.java li a{
    color:#535151;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}
.java li a:hover{
    color:#ff6600
}
.java li span{
    margin-right: 20px;
}
.jixing{
    width:936px;
    height: 180px;
    padding:17px 34px 25px 20px;
    background-color: #fff;
    margin-top:19px
}
.jixing span{
    font-size: 18px;
    color:#404040;
    font-weight: 700;
}
.jixing input{
    width:237px;
    height:18px;
    outline: none;
    padding:5px 10px;
    border:1px solid #e5e5e5;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
}
.jixing button{
    width:36px;
    outline: none;
    height:30px;
    background-color: #ff6600;
    border:none
}
.xing li{
    float: left;
    width:125px;
    height:47px;
    color:#404040;
    font-size: 14px;
    margin-right: 30px;
}
#more-p{
    background-color: #ff6600;
    width:220px;
    height:50px;
    border:none;
    margin:30px 0px 0px 339px;
    color:#fff;
    text-shadow: -1px -1px 0px #ea4900;
}
.others{
    width:990px;
    height:340px;
    background-color: #fff;
    margin-top:19px;
}
.others header span{
    font-size: 18px;
    color:#404040;
    font-weight: 700;
}
.others header{
    height:55px;
    line-height: 55px;
    padding:0 21px ;
    border-bottom: 1px solid #d4d4d4;
}
.others header p{
    color:#404040
}
.others header p a{
    color:#4375bd
}
.yijian{
    width:283px;
    height:263px;
    color:#717171;
    font-size:14px;
    padding:21px 18px 0px 18px;
    border-right: 1px solid #d4d4d4;
}
.sjdeng{
    width:200px;
    height:165px;
    text-align: center;
    margin:18px 0px 0px 44px
}
.sjdeng button{
    height:48px;
    width:100%;
    border:none;
    margin-top:13px;
    color:#fff;
}
.pp{
    background-color: #6aa7df;
}
.pp img{
    position: absolute;
    left: 20px;
    top:10px
}
.wandou img{
    position: absolute;
    left: 20px;
    top:10px
}
.wandou{
    background-color: #81b846;
}
.yijian input{
    height:30px;
    line-height: 30px;
    padding-left: 8px;
    outline: none;
    border:1px solid #cacaca;
    color:#959595;
    box-shadow: inset 0 0 2px 2px #ededed
}
.tel{
    width:278px;
}
.yan{
    width:206px
}
.yanzheng{
    display: inline-block;
    width:62px;
    height:32px;
    line-height: 32px;
    text-align: center;
    color:#ff3399;
    left: 243px;
    top: 154px;
    position: absolute;
    background-image: url(../images/二维码_03.png);
}
.yanzheng a{
    width:90px;
    position: absolute;
    color:#256ba8;
    bottom: -28px;
    right: -3px;
    font-size: 12px;
}
.yijian .fasong{
    width:86px;
    height:32px;
    color:#fff;
    text-align: center;
    line-height: 32px;
    border:none;
    background-color: #ff6600;
    margin:24px 0px 0px 86px
}
.eri{
    width:301px;
    height:250px;
    color:#717171;
    font-size:14px;
    padding:21px 0px 0px 18px;
}
.eri a{
    color:#717171;
    font-size:14px;
}
.kong{
    height: 20px;
}


/* 尾部 */
footer{
    width:100%;
    background-color: #333;
    padding-top:36px
}
.produce{
    color:#fff;
    font-size:14px;
    line-height: 24px;
    margin-right:95px;
}
.produce li a{
    color:#fff;
    font-size:14px
}
.produce li a:hover{
    color:#ff6600
}
.coraaa{
    color:#aaa
}
.china{
    width:114px;
    height:24px;
    color:#aaa;
    padding-left: 22px;
    background-color: #333;
    border:1px solid #434343
}
.qiu{
    display: inline-block;
    width:15px;
    height:15px;
    position: absolute;
    left: 7px;
    top:3px;
    background-position: 0 0;
}
.sprite{
    background: url(../images/bgbg.png);
}
.pho{
    display: inline-block;
    width:9px;
    height:16px;
    left:4px!important;
    background-position: -43px -22px;
}
.zhan li a{
    color:#aaa;
}
.zhan{
    line-height: 26px;
}
.zhan li :hover .icon-icon{
    color:#ff6600
}
.zhan li a:hover{
    color:#ff6600
}
.zhan .icon-icon{
    color:#aaa;
}
.banquan{
    width:100%;
    height: 37px;
    line-height: 37px;
    border-top:1px dashed #565656
}
.download_box .iconfont{
    font-size: 55px;
}
.banquan li{
    float: left;
}
.banquan li a{
    margin-right: 6px;
    color:#aaa;
    font-size:11px
}
.banquan li a:hover{
    color:#ff6600
}
.banquan li span{
    margin-right: 6px;
    color:#566656;
    font-size:11px
}
.banquan li{
    color:#666
}
.agree{
    padding-top:22px;
    border-top:1px dashed #565656
}
.xu{
    color:#666
}
.yous {
    top:19px
}
.ml50 img{
    margin-right: 15px;
}
footer{
    height: 530px;
}
.banquan2{
    position: absolute;
    box-sizing: border-box;
    padding-left: 10px;
    background:-webkit-linear-gradient(top,#333,rgb(145, 142, 142),#333);
    width:985px;
    bottom: 94px;
    display: none;
}
.banquan2 li a{
    color:#fff
}
.banquan3{
    position: absolute;
    box-sizing: border-box;
    padding-left: 10px;
    background:-webkit-linear-gradient(top,#333,rgb(145, 142, 142),#333);
    width:985px;
    bottom: 56px;
    display: none;
}
.banquan3 li a{
    color:#fff
}